dist: trusty
addons:
  postgresql: "10"
  apt:
    packages:
    - postgresql-10
env:
  global:
  - PGPORT=5433
language: go
go:
- "1.10"
before_install:
  - go get github.com/gorilla/mux
  - go get github.com/joho/godotenv
  - go get github.com/lib/pq

script:
  - go test -v ./...



